<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401 Error</title>
    <link href="/static/error_page_css/error-page.css" rel="stylesheet">
</head>
<body style="text-align: center">
    <div style="margin-top: 20%">
        <h1 class="error-code-name">401</h1>
        <h2 class="error-code-tips">You either haven't logged in or you logged in with invalid credentials. Try to re-login.</h2>
        <div style="margin-left: 40%; margin-right: 40%">
            <p class="error-code-fun">
                Even though you can view most of this website without logging in, some parts still require you to.
            </p>
        </div>
    </div>
</body>
<footer>
    <a href="https://twitter.com/njiang49296945"><i class="fab fa-twitter" style="color: #2978b5"></i></a>
    <p style="font-family: 'Montserrat', sans-serif;">© Copyright 2021 Jiang Industries</p>
</footer>
</html>