<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401 Error</title>
    <link href="/static/error_page_css/error-page.css" rel="stylesheet">
</head>
<body style="text-align: center">
    <div style="margin-top: 20%">
        <h1>401</h1>
        <h2>You either haven't logged in or you logged in with invalid credentials. Try to re-login.</h2>
        <div style="margin-left: 40%; margin-right: 40%">
            <p>Even though you can view most of this website without logging in, some parts still require you to.</p>
        </div>
    </div>
</body>
</html>