<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link href="/static/css/clean-blog.css" rel="stylesheet">
</head>
<body style="text-align: center">
    <div style="margin-top: 20%">
        <h1>404</h1>
        <h2>This is not the page your were looking for. If you typed in this URL manually, check your spelling.</h2>
        <div style="margin-left: 40%; margin-right: 40%">
            <p>Although this website has a lot of things on it, we don't have everything.</p>
        </div>
    </div>
</body>
</html>