<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jiang Industries</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/home_page_css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="icon" href="../static/favicon.ico">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c0cade2782.js" crossorigin="anonymous"></script>
</head>
<body style="font-family: 'Montserrat', sans-serif;">
    <section id="title">
        <div class="container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand navbar-my-navbar logo-text" href="" style="margin-left: 10px">Jiang Industries</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 10px; color: #0061a8">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="margin-left: 10px; margin-right: 0">
                    <a class="nav-link navbar-my-navbar" href="#footer">Contact</a>
                </li>
                <li class="navbar-nav" style="margin-left: 3px">
                    <a class="nav-link navbar-my-navbar" href="#pricing">Pricing</a>
                </li>
                <li class="navbar-nav" style="margin-left: 10px">
                    <a class="nav-link navbar-my-navbar" href=""><i class="fas fa-shopping-basket"></i> Shop</a>
                </li>
                <li class="navbar-nav" style="margin-left: 10px">
                    <a class="nav-link navbar-my-navbar" href="/">Blog</a>
                </li>
                <li class="navbar-nav" style="margin-left: 10px">
                    <a class="nav-link navbar-my-navbar" href="/services">Miscellaneous Services</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>


    <!-- Title -->
    <div class="row">
        <div class="col-md-6">
            <h1>Shop Jiang Industries. Hire Website Creators. Buy Circuits And Electronics.</h1>
            <div style="text-align: center">
                <button type="button" class="download-btn btn btn-dark btn-lg"><i class="fas fa-shopping-basket"></i> Shop Props</button>
                <button type="button" class="download-btn btn btn-outline-light btn-light btn-lg"><i class="fas fa-charging-station"></i> Shop Circuits</button>
            </div>
        </div>
        <div class="col-md-6" style="text-align: center">
            <img src="../static/images/circuit-board.png" alt="circuit-image" class="title-img" style="width: 200px">
        </div>
    </div>
        </div>
    </section>


    <!-- Features -->
    <br>
    <section id="features">
        <div class="row" style="text-align: center">
            <div class="col-lg-4 col-md-6 feature">
                <h2><i class="fas fa-check-circle feature-image"></i></h2>
                <h3 class="feature-title">Working.</h3>
                <p>The products work very well and look really good.</p>
            </div>
            <div class="col-lg-4 col-md-6 feature">
                <h2><i class="fas fa-bullseye feature-image"></i></h2>
                <h3 class="feature-title">Superb Team</h3>
                <p>The production team is very efficient and works very well.</p>
            </div>
            <div class="col-lg-4 col-md-12 feature">
                <h2><i class="fas fa-heart feature-image"></i></h2>
                <h3 class="feature-title">Guaranteed to work.</h3>
                <p>Get good items or your money back.</p>
            </div>
        </div>
    </section>
    <br>


    <!-- Testimonials -->
    <section id="testimonials">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2>I no longer need to go to expensive websites to get what I need.</h2>
                    <em>Someone</em>
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">I now have a goto website to get all of my electronic shopping done.</h2>
                    <em>Baohui Zhang</em>
                </div>
                <button class="carousel-control-prev carousel-dark btn-sm" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next carousel-dark btn-sm" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>


    <!-- Pricing -->
    <section id="pricing" style="text-align: center">

        <h2>A Plan For How Complicated Your Dream Website Is.</h2>
        <p>Simple and affordable prices for your and your company.</p>

        <div class="row">
            <div class="card col-lg-4 col-md-6">
                <div class="card-header">
                    <h3>Basic</h3>
                </div>
                <div class="card-body">
                    <h2>$5.00</h2>
                    <p>1 Web Page</p>
                    <p>Front-End Only</p>
                    <p>No CSS</p>
                    <p>Not Uploaded</p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Buy</button>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6">
                <div class="card-header">
                    <h3>Average</h3>
                </div>
                <div class="card-body">
                    <h2>$15.00</h2>
                    <p>3 Web Pages</p>
                    <p>Front-End And Back-End</p>
                    <p>CSS</p>
                    <p>Uploaded on web.</p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Buy</button>
                </div>
            </div>
            <div class="card col-lg-4 col-md-12">
                <div class="card-header">
                    <h3>Advanced</h3>
                </div>
                <div class="card-body">
                    <h2>$25.00</h2>
                    <p>5 Web Pages</p>
                    <p>Front-End And Back-End</p>
                    <p>CSS and Bootstrap</p>
                    <p>Uploaded on web.</p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Buy</button>
                </div>
            </div>
        </div>
    </section>


    <!-- Call to Action -->
    <section id="cta">

        <h3>Get inexpensive circuits and electronics today.</h3>
        <button type="button" class="btn btn-primary btn-lg"><i class="fas fa-shopping-basket"></i> Shop</button>

    </section>

</body>
<!-- Footer -->
{% include "footer.html" %}
</html>
