body {
    font-size: 20px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

.error-code-name {
    margin-bottom: 2.5%;
}

.error-code-tips {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3.5%;
}